* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ccc;
}
h1 {
  text-align: center;
}
form {
  margin: 24px;
}
.form-control {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background-color: #bbb;
}
.form-control input {
  width: 100%;
  padding: 0 16px;
}
.form-control button {
  padding: 8px 16px;
  margin-left: 8px;
}
ul {
  max-width: 400px;
  margin: 0 auto;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li button {
  padding: 4px 8px;
}
